<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Softwarehouse - Conhecimentos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .gallery-container {
            padding: 20px;
        }

        .list-actions {
            padding: 8px;
        }

        .list-row {
            position: relative;
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 5px;
            margin: 5px;
            transition: transform 0.3s ease;
            background-color: #f8f9fa;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: flex;
            height: auto; /* Altura fixa para a label */
        }

        .list-row:hover {
            transform: scale(1.01);
            text-decoration: none;
        }

        .list-property {
            text-decoration: none;
            color: inherit;
            font-weight: bold;
            font-size: 1.2rem;
            position: relative;
            top: 5px;
        }

        .list-button {
            display: inline;
            position: relative;
            
        }

        .list-buttons .btn {
            position: relative;
            
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Conhecimentos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <%= user_name %>                          
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="/public/projetos">Projetos</a></li>
                            <% if(!user_external) { %>
                            <li><a class="dropdown-item" href="/cadastroProjetos">Cadastrar Projeto</a></li>
                            <li><a class="dropdown-item" href="/meusProjetos">Meus Projetos</a></li>
                            <% if(user_admin) { %>
                            <!-- <li><a class="dropdown-item" href="/admin/conhecimentos">Conhecimentos</a></li> -->
                            <li><a class="dropdown-item" href= "/admin/usuarios">Usuários</a></li>
                            <% } %>
                            <li><hr class="dropdown-divider"></li>
                            <% } %>
                            <li><a class="dropdown-item" href="/logout">Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="gallery-container">
        <div class="list-actions">
            <label for="itemDescricao">Incluir conhecimento:</label>
            <input type="text" id="itemDescricao" data-id="0" value="" required>
            <button type="submit" class="btn btn-primary" onclick="incluirItem()">Incluir</button>   
        </div>
        <% if (conhecimentos && conhecimentos.length > 0) { %>
        <div class="list-grid">
            <% conhecimentos.forEach(conhecimento => { %>
                <div class="list-row">
                    <div class="container list-label">
                        <a class="list-property" href="" >
                            <div class="list-desc" data-id="<%= conhecimento.id %>"><%= conhecimento.description %></div>
                        </a>
                    </div>
                    <div class="container d-flex justify-content-end">
                        <div class="list-buttons">
                            <button id="btnEdit" type="button" class="btn btn-warning" onclick="editItem(<%= conhecimento.id %>)">Editar</button>
                            <button id="btnDelete" type="submit" class="btn btn-danger" onclick="deleteItem(<%= conhecimento.id %>)">Excluir</button>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
        <% } else { %> 
            <div class="list-grid-empty">
                <p>Não há conhecimentos para exibir</p>
            </div> 
        <% } %> 
    </div>
    <script src="/script_conhecimentos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
