<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Softwarehouse</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/main.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Portifólio pessoal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Menu
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="/cadastroProjetos">Cadastro de Projetos</a></li>
                            <li><a class="dropdown-item" href="/meusProjetos">Meus Projetos</a></li>
                            <li><a class="dropdown-item" href="/conhecimentos">Conhecimentos</a></li>
                            <li><a class="dropdown-item" href= "/index_adm">Logar como Admin</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/logout">Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h2 class="text-center mb-4"><%= project.project_name %></h2>
        
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Resumo</h5>
                <p class="card-text"><%= project.project_resume %></p>

                <h5 class="card-title">Link Externo</h5>
                <p class="card-text"><a href="<%= project.projectLink %>" target="_blank"><%= project.project_link %></a></p>
                                     
                <div class="form-buttons">
                    <button type="button" class="btn btn-secondary" onclick="window.history.back();">Voltar</button>
                    <button type="button"  class="btn btn-primary" onclick="">Editar</button> 
                    <!-- <form action="/projetos/<%= project.id %>?_method=UPDATE" method="UPDATE">
                        <button type="submit"  class="btn btn-primary" onclick="">Salvar</button> 
                    </form>    copiar isso depois para o form de edição                             -->
                    <form action="/projetosDelete/<%= project.id %>" method="POST">
                        <button type="submit" id="button-delete" class="btn btn-secondary" onclick="deleteProject(event)"">Deletar</button> 
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function deleteProject(event) {
            if (!confirm('Tem certeza que deseja deletar este projeto?')) {     
                event.preventDefault();
            }          
        }
    </script>
</body>
</html>
